/* COLOR PALETTE */
:root {
    --custom-grey: #bebffe;
}


/* GENERICS */
body {
    background-color: black;
}

/* UTILS */
.blue {
    background-color: #26547c;
}
.green {
    background-color: #06d6a0;
}
.yellow {
    background-color: #ffd166;
}
.red {
    background-color: #ef476f;
}
.white {
    background-color: #fcfcfc;
}
.ball {
    border-radius: 50%;
    height: 65px;
    box-shadow: 0 0 18px inset;
}

/* FLEX UTILS */
.g-2 {
    gap: 5px;
}

/* STYLE */
.center-align {
    display: flex;
    justify-content: center;
    align-items: center;
}
.rounded {
    border-radius: 15px;
}
.table {
    background-color: var(--custom-grey);
    border: 2px solid  #a9a9a9;
    width: 900px;
    height: 765px;
    margin: 60px auto;
    box-shadow: 0 0 25px white inset;
    position: relative;
}
.table.inside {
    border: 3px solid  #b3b3b3;
    width: 812px;
    height: 680px;
    box-shadow: 0 0 18px inset;
}
.launch {
    position: absolute;
    width: 65px;
    bottom:60px;
    left:calc(450px - 65px / 2);
}
i {
    height: 130px;
    font-size: 80px;
    color: darkgrey;
    position: absolute;
    bottom: 90px;
    left: 420px;
    animation: spin 2s ease infinite;
}

/* ANIMATION */
@keyframes spin {
    0% {
        transform: rotate(60deg);
        transform-origin: bottom center;
    }
    50% {
        transform: rotate(-60deg);
        transform-origin: bottom center;
    }
    100% {
        transform: rotate(60deg);
        transform-origin: bottom center;
    }
}

